@{
    ViewBag.Title = "DoiMatKhau";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

<h2>Đổi Mật Khẩu</h2>
@using (Ajax.BeginForm("DoiMatKhau", "KhachHang",
                    new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "mkc", InsertionMode = InsertionMode.Replace, OnBegin = "return IsCheck()" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-3" style="text-align:left">Nhập Mật Khẩu Cũ</label>
            <div class="col-md-5">
                <input id="MatKhauCu" name="MatKhauCu" type="password" class="form-control" />
            </div>
            <span class="col-md-4" id="mkc"></span>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" style="text-align:left">Nhập Mật Khẩu Mới</label>
            <div class="col-md-5">
                <input id="MatKhauMoi" name="MatKhauMoi" type="password" class="form-control" />
            </div>
            <span class="col-md-4" id="mkm"></span>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" style="text-align:left">Nhập Lại Mật Khẩu</label>
            <div class="col-md-5">
                <input id="MatKhauNhapLai" name="MatKhauNhapLai" type="password" class="form-control" />
            </div>
            <span class="col-md-4" id="mknl"></span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đổi Mật Khẩu" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    function IsCheck() {
        var rs = true;
        var x = document.getElementById("MatKhauCu").value;
        if (x == "") {
            document.getElementById("mkc").innerHTML = "Không được để trống";
            rs = false;
        }
        else {
            document.getElementById("mkc").innerHTML = "";
        }

        var x = document.getElementById("MatKhauMoi").value;
        if (x == "") {
            document.getElementById("mkm").innerHTML = "Không được để trống";
            rs = false;
        }
        else {
            document.getElementById("mkm").innerHTML = "";
        }

        var y = document.getElementById("MatKhauNhapLai").value;
        if (y == "") {
            document.getElementById("mknl").innerHTML = "Không được để trống";
            rs = false;
        }
        else
            if (y != x) {
                document.getElementById("mknl").innerHTML = "Mật Khẩu Không Giống Nhau";
                rs = false;
            }
        else {
            document.getElementById("mknl").innerHTML = "";
        }
        return rs;

    }
</script>

