<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  
  <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="~/Content/css/style_progressbar.css" />
</head>
<body>
  <div class="shipping-header">
    <div class="container">
      <div class="col-md-2">
        <a href="#">
          <img src="" />
        </a>
      </div>
      <div class="col-md-8">
        <ul class="progressbar">
          <li class="active">Địa chỉ giao hàng</li>
          <li>Thanh toán</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="shipping_body">
    @RenderBody();
  </div>
</body>

</html>